@model IEnumerable<LibraryManagement.Models.BookModel>

@{
    ViewData["Title"] = "BooksToReserve";
}
@if (ViewBag.login is not null){
    <h1>Książki do zarezerwowania</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.publisher)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.reserved is null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.publisher)
                        </td>
                        <td>
                            @Html.ActionLink("Zarezerwuj", "Reserve", new { id=item.id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

} else{
    <p>Nie masz dostępu do tej strony.</p>
}
