@model IEnumerable<LibraryManagement.Models.Book>

@{
    ViewData["Title"] = "Książi do wypożyczenia";
}
@if (ViewBag.isSuperUser == "true"){
    <h1>Wypożycz książkę</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reserved)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Reserved is not null && item.Leased is null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reserved)
                        </td>
                        <td>
                            @Html.ActionLink("Wypożycz", "Lease", new { id=item.BookId }, new {@class = "btn btn-primary"})
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
else{
    <p>Nie masz dostępu do tej strony.</p>
}
<div class="margin-top">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Powrót do strony głównej</a>
</div>