@model IEnumerable<LibraryManagement.Models.Book>

@{
    ViewData["Title"] = "Książki do zarezerwowania";
}
@if (ViewBag.login is not null){
    <h1>Książki do zarezerwowania</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Reserved is null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </td>
                        <td>
                            <form asp-action="Reserve" asp-route-id="@item.BookId" method="post">
                                <input type="hidden" name="timestamp" asp-for="@item.TimeStamp" />
                                <div class="form-actions no-color">
                                    <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
                                </div>
                            </form>
                            @*
                @Html.ActionLink("Zarezerwuj", "Reserve", new { id=item.BookId }, new {@class = "btn btn-primary"})
                            *@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

} else{
    <p>Nie masz dostępu do tej strony.</p>
}
<div class="margin-top">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Powrót do strony głównej</a>
</div>