@model LibraryManagement.Models.BookModel

@{
    ViewData["Title"] = "Usuń";
}
@if (ViewBag.isSuperUser == "true"){

    <h1>Usuń książkę</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.author)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.author)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.date)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.date)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.publisher)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.publisher)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.user)
            </dt>
            <dd class = "col-sm-10">
                @if (Model.user is not null)
                {
                    @Html.DisplayFor(model => model.user)
                }
                else
                {
                    <text>-----</text>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.reserved)
            </dt>
            <dd class="col-sm-10">
                @if (Model.reserved is not null)
                {
                    @Html.DisplayFor(model => model.reserved)
                }
                else
                {
                    <text>-----</text>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.leased)
            </dt>
            <dd class="col-sm-10">
                @if (Model.leased is not null)
                {
                    @Html.DisplayFor(model => model.leased)
                }
                else
                {
                    <text>-----</text>
                }
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="submit" value="Usuń" class="btn btn-danger" />
        </form>
    </div>
}
else{
    <p>Nie masz dostępu do tej strony.</p>
}
<div class="margin-top">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Powrót do strony głównej</a>
</div>