@model LibraryManagement.Models.Book

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserved)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Reserved is not null)
            {
                @Html.DisplayFor(model => model.Reserved)
            }
            else{
                <text>-----</text>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leased)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Leased is not null)
            {
                @Html.DisplayFor(model => model.Leased)
            }
            else
            {
                <text>-----</text>
            }
        </dd>
  
    </dl>
</div>
<div class="col-lg-5">
    @if (ViewBag.login is not null && Model.Reserved is null)
    {
        <span>@Html.ActionLink("Zarezerwuj", "Reserve", new { id = Model.BookId }, new {@class = "btn btn-primary"})</span>
    }
    @if (ViewBag.isSuperUser =="true" && Model.Leased is null && Model.Reserved is not null)
    {
        <span>@Html.ActionLink("Wypożycz", "Lease", new { id = Model.BookId }, new {@class = "btn btn-primary"})</span>
    }
    @if (ViewBag.isSuperUser =="true" && Model.Leased is not null)
    {
        <span>@Html.ActionLink("Zwróć", "ReturnBook", new { id = Model.BookId }, new {@class = "btn btn-primary"})</span>
    }
    @if (ViewBag.isSuperUser == "true")
    {
        <span>@Html.ActionLink("Edytuj", "Edit", new { id = Model.BookId }, new {@class = "btn btn-primary"})</span>
        <span>@Html.ActionLink("Usuń", "Delete", new { id = Model.BookId }, new {@class = "btn btn-danger"})</span>
    }

</div>
<div class="margin-top">
    <a asp-controller="Home"  asp-action="Index" class="btn btn-primary">Powrót do strony głównej</a>
</div>
