@model LibraryManagement.Models.BookModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reserved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reserved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leased)
        </dd>
  
    </dl>
</div>
<div class="col-lg-5">
    @if (ViewBag.login is not null && Model.reserved is null)
    {
        <span>@Html.ActionLink("Zarezerwuj", "Reserve", new { id = Model.id }, new {@class = "btn btn-primary"})</span>
    }
    @if (ViewBag.isSuperUser =="true" && Model.leased is null && Model.reserved is not null)
    {
        <span>@Html.ActionLink("Wypożycz", "Lease", new { id = Model.id }, new {@class = "btn btn-primary"})</span>
    }
    @if (ViewBag.isSuperUser =="true" && Model.leased is not null)
    {
        <span>@Html.ActionLink("Zwróć", "ReturnBook", new { id = Model.id }, new {@class = "btn btn-primary"})</span>
    }
    @if (ViewBag.isSuperUser == "true")
    {
        <span>@Html.ActionLink("Edytuj", "Edit", new { id = Model.id }, new {@class = "btn btn-primary"})</span>
        <span>@Html.ActionLink("Usuń", "Delete", new { id = Model.id }, new {@class = "btn btn-danger"})</span>
    }

</div>
<div class="margin-top">
    <a asp-action="Index" class="btn btn-primary">Powrót</a>
</div>
