@model IEnumerable<LibraryManagement.Models.BookModel>

@{
    ViewData["Title"] = "Znajdź książkę";
}

<h1>Znajdź książkę</h1>
<br/>



<div >
    @using (Html.BeginForm("SearchBook", "book", FormMethod.Get))
    {

            @Html.TextBox("searching", null, new {@class="form-control"})
            <br />
            <input type="submit" value="Szukaj" class="form-control" style="max-width:10%;float: right;" />
    }
</div>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher)
            </td>
            <td>
                    @Html.ActionLink("Szczegóły", "Details", new { id=item.id }, new {@class = "btn btn-primary"})
            </td>
        </tr>
}
    </tbody>
</table>

<div class="margin-top">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Powrót do strony głównej</a>
</div>